body{
	top: 0 !important;
}


/* Top Menu */

#topmenu {
    position: relative;
	height: 5rem;
    display: -ms-flexbox;
    display: flex;
	-ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.5rem 32px 1.5rem 2rem;
}
.flexmenu-group-left {
    display: -ms-flexbox;
    display: flex;
	-ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.flexmenu-group-right {
	height: 100%;
    display: -ms-flexbox;
    display: flex;
	-ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
#topmenu h2 {padding:1.1rem 0px;}
#topmenu .top-logo {max-height: 4rem; max-width: 600px; margin: .5rem 2rem .5rem -5px;}
.top-link {
	display: block;
    padding: 1.5rem 0 1.5rem 3rem;
	font-size: 1.25rem;
	font-weight: 400;
}
#bottommenu {
    position: relative;
    display: -ms-flexbox;
    display: flex;
	-ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
	padding: .5rem 32px;
    /*padding: 1.5rem 32px 1.5rem 2rem;*/
}
/* G translate */
#bottommenu .flexmenu-group-right .nav-link {padding: .5rem;}

#st-1 .st-btn[data-network='sharethis'] {
	background: transparent !important;
	padding-left: 0;
}
#google_translate_element{
	width: 160px;
    margin-right: 0px !important;
	/*position: absolute;
	right: 32px;*/
}
.goog-te-banner-frame.skiptranslate{
	display: none;
}
.goog-te-gadget img {
	display: none;
}
.goog-te-gadget-simple {
	background-color: transparent !important;
	border: 0 !important;
}
.goog-te-gadget-simple .goog-te-menu-value span {
	color: white;
	font-size: 14px;
	font-weight: 500;
}
.goog-te-menu-value span{
	font-family: 'Poppins', sans-serif !important;
}

.goog-te-menu-value span:nth-child(3){
	display: none;
}
.goog-te-menu-value span:nth-child(5){
	display: none;
}
.goog-te-menu-value span:nth-child(1){

}
.goog-te-gadget-simple .goog-te-menu-value span:nth-of-type(1) {
	font-family: 'Font Awesome' !important;
	font-weight: normal;
	font-style: normal;
	font-size: 22px !important;
	position: relative;
	display: inline-block;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	text-rendering: auto;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	visibility: hidden;
}
.goog-te-gadget-simple .goog-te-menu-value span:before {
	content: "Select Language";
	visibility: visible;
	font-family: Roboto,sans-serif;
	font-size: 1rem;
	color: #007bff;
}
.goog-te-menu-value {
	max-width: 22px;
	display: inline-block;
}


/* scaffolding */
/* ----------- */

.tt-menu {
  text-align: left;
}

/* base styles */
/* ----------- */

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}
.tt-hint {color:white!important;}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
   max-height: 250px;
   overflow-y: auto;

}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


.twitter-typeahead {width:100%;}


.reset-button {position:relative;display:inline-block;float:right;}
.reset-button button {position:absolute;top:0;right:4px;background:rgba(0,0,0,0); border:none;padding:6px;}
.reset-button button.inactive {display:none;}


/* others */
table td,
.description85 {
    font-size: 0.85rem;
}

.weekday {
	display: inline-block;
	min-width: 90px;
}

/* mapbox */
.marker {
	display: block;
	border: none;
	cursor: pointer;
	padding: 0;
	width: 25px;
	height: 25px;
	background-size: 25px;
}

.mapboxgl-popup-content {padding:8px; overflow: hidden !important;font-size:0.75em;border-radius:10px;}
.mapboxgl-popup-content a {text-decoration:initial; color:#002b80;font-size:1.2em;}


/* openstreetmaps */

#basicMap {
	width: 100%;
	height: 100%;
	min-height:300px;
	margin: 0;
}

#basicMapPlaceholder {
	width: 100%;
	height: 100%;
	min-height:250px;
	border: 1px dotted #ccc;
/*	padding-left:50px;
	padding-top:100px;
	position: relative*/
}

#basicMapPlaceholder p {
	font-size: 1.5rem;
	line-height: 1.5rem;
	color: #aaa;
	position:absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.dropdown-menu {z-index:10000;}


/* taxonomy catalog */

.card {border: 1px;}
.card-body {padding: 0.5em 1.75em;}
.card-body .card-body {padding: 0 1.75em;}
.card-header .btn-link {padding:.375rem .1rem;}
a[data-toggle="collapse"][aria-expanded="true"] .fa:before {
	content: "—";
}
a[data-toggle="collapse"][aria-expanded="false"] .fa:before {
	content: "+";
}
#taxonomy a, #taxonomy button {text-decoration:none !important; color:#2600e6;}
button {text-decoration:none !important;}
p {margin-bottom:0.5em;}
p .btn-link {padding:0; border:0;}



/* services tiles */

#sGrid .card {border:1px #ddd solid;}
#sGrid .card:hover {background:#e6ffff; box-shadow: 1px 1px 3px #006666; }
#sGrid a.cardlink {color:initial;}
#sGrid a.cardlink:hover {text-decoration:none; color:initial;}

	/*tile*/
	#sGrid .descr, #sGrid .badges {font-size:.85rem;}
	#sGrid .title {margin-bottom:.75rem;}
	#sGrid .address {font-weight:400;}

/* org tiles */
.orgDetails {padding: 0.5em 1.75em 2em;}
.overflow_responsive {overflow-x: hidden ;}
